@import url(./nulestyle.css);
#root{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   min-height: 100%;;
   background: #666291;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header{
   padding:  20px 20px 20px 0;
   color: white;
   background-color: black;
   width: 100%;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
}
main{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.title{
   margin: 20px;
}
.done{
   margin: 0 20px;
}




.name{
height: 100%;
margin: 0 5px 0 0 ;
}
.text{
   height: 200px;
}
.add{
   background-color: tomato;
   width: 50px;
   height: 100%;
}
.nb{
   height: 50px;
   display: flex;
   align-items: center;
}




.new__bars-menu{
   padding: 0px;
   width: 700px;
   transition: 1.4s;
   position: absolute;
   right: 10%;
   top: 10%;
   background-color: black;
   display: flex;
   justify-content: center;
   flex-direction: column;

   z-index: 2;
   overflow: hidden;
}

.notes{
   width: 70%;
   transform: 1000s;
}
.note{
   margin: 20px 0 ;
width: 100%;
background-color: white;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.note__top{
   padding: 20px;
   display: flex;
   justify-content: space-between;
}
.note__name{
   color: tomato;
   text-shadow:3px 0px 1px black;
   width: 100%;
   font-size: 30px;
   font-weight: 800;
}
.note__text{
   background-color: grey;
   width: 100%;
   font-size: 18px;
   padding:20px;
}

.check{
   font-size: 30px;
   color: green;
   margin: 0 10px;
}
.cross{
   font-size: 30px;
   color: red;
   margin: 0 10px;
}

@keyframes greenNote {
   0%{
      border: none;
   }
   50%{
      border: none;
      background-color: green;
      opacity: 0.5;
   }
   80%{
      border: none;
      opacity: 0.1;
   }
   100%{
      border: none;
      opacity: 0.0;
   }
}
@keyframes redNote {
   0%{
      border: none;
   }
   50%{
      border: none;
      background-color: red;
      opacity: 0.5;
   }
   80%{
      border: none;
      opacity: 0.1;
   }
   100%{
      border: none;
      opacity: 0.0;
   }
}
@media(max-width:768px){
   .new__bars-menu{
      padding: 0px;
      width: 400px;
      
   }
}
@media (max-width:712px) {
   .header{
      justify-content: center
   }
   .name{
      margin: 10px;      
      width: 80%;
   }
   .text{
      margin: 10px;  
      width: 80%;
   }
   .notes{
      width: 80%;
   }
}
@media (max-width:560px) {
   .header{
      padding: 10px;
   }
   .name{
      width: 100%;
   }
   .text{
      margin: 10px;  
      width: 100%;
   }
   .notes{
      padding: 10px;
      width: 100%;
   }
   .note__name{
  
      font-size: 24px;
      font-weight: 800;
   }
   .note__text{
    
      font-size: 16px;
   }
   .note{
   }
   .add{
   }
}
@media (max-width:425px) {
   .name{
      height: 40px;
   }
   .text{
   height: 150px;
   }
.add{
   height: 30px;
   width: 30px;
}
.new__bars-menu{
   right: 2%;
   width: 300px;
}
}
