@import url(./nulestyle.css);
#root{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   min-height: 100%;;
   background: #666291;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header{
   padding:  20px 20px 20px 0;
   color: white;
   background-color: black;
   width: 100%;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
}
main{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.notes{
   width: 70%;
   transform: 1000s;
}
.note{
   padding: 30px;
   margin: 20px 0 ;
width: 100%;
border: 3px solid black;
background-color: white;
display: flex;
justify-content: space-between;
}
.title{
   margin: 20px;
}
.name{
   margin: 0 20px;
   height: 50px;
}
.text{
   margin: 0 20px;
height: 50px;
}
.add{
   background-color: tomato;
   width: 50px;
   height: 50px;
}
.note__name{
   max-width: 100%;
   font-size: 30px;
   font-weight: 800;
}
.note__text{
   max-width: 100%;
   font-size: 18px;
}
.note__left{
   max-width: 50%;
   overflow: hidden;
}
.check{
   font-size: 30px;
   color: green;
   margin: 0 10px;
}
.cross{
   font-size: 30px;
   color: red;
   margin: 0 10px;
}

@keyframes greenNote {
   0%{
      border: none;
   }
   50%{
      border: none;
      background-color: green;
      opacity: 0.5;
   }
   80%{
      border: none;
      opacity: 0.1;
   }
   100%{
      border: none;
      opacity: 0.0;
   }
}
@keyframes redNote {
   0%{
      border: none;
   }
   50%{
      border: none;
      background-color: red;
      opacity: 0.5;
   }
   80%{
      border: none;
      opacity: 0.1;
   }
   100%{
      border: none;
      opacity: 0.0;
   }
}
@media (max-width:712px) {
   .header{
      justify-content: center
   }
   .name{
      margin: 10px;      
      width: 80%;
   }
   .text{
      margin: 10px;  
      width: 80%;
   }
   .add{
      margin: 0 40px;
   }
   .notes{
      width: 80%;
   }
}
@media (max-width:560px) {
   .header{
      padding: 10px;
   }
   .name{
      width: 100%;
   }
   .text{
      margin: 10px;  
      width: 100%;
   }
   .notes{
      padding: 10px;
      width: 100%;
   }
   .note__name{
  
      font-size: 24px;
      font-weight: 800;
   }
   .note__text{
    
      font-size: 16px;
   }
   .note{
      padding: 15px;
   }
}
@media (max-width:425px) {
   .name{
      height: 40px;
   }
   .text{
   height: 40px;
   }
.add{
   height: 30px;
   width: 30px;
}
}